.tech-image{
    img{
        width: 10vw;
        @media (min-width:480px) {
            width: 3vw;  
        }
    
    }
    p{
        margin: 0;
        padding: 0;
       font-size: small;
       @media (min-width:480px) {
            font-size: x-large;
       }
    }
}