/* You can add global styles to this file, and also import other style files */
//re
$font-family-base: 'Montserrat', sans-serif;

@import "bootstrap";

.bs-container {
  max-width: 1200px;
  margin: 0 auto;
}
